{% extends "base.html" %}
{% block content %}

<h1>raport</h1>

    <table>
    <tr>
        <th id="header_id">ID</th>
        <th onclick="this.innerHTML = 'aaa'">Date</th>
        <th id="header_acc">Account</th>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    {% for row in data %}
    <tr>
        <td>{{ row['id'] }}</td>
        <td>{{ row['timestamp'] }}</td>
        <td>{{ row['account'] }}</td>
        <td>{{ row['description'] }}</td>
        <td>{{ row['amount'] }}</td>
    </tr>
    {%endfor%}
</table>

    <script>
    document.getElementById("header_id").innerHTML = "Test"
    document.getElementById("header_acc").addEventListener("click", function (){ alert("pass"); });
    </script>

{% endblock %}