<div>    
<form action="/submit_transaction" method="post">

    <input type="date" id="timestamp" name="timestamp" placeholder="date">

    <select id="category" name="category">
        {% for category in categories %}
        <option value="{{ category['name'] }}">{{ category['name'] }}</option>
        {%endfor%}
    </select>

    <select id="bank" name="bank">
        {% for acc in accounts %}
            <option value="{{ acc['bank'] }}|{{  acc['name'] }}">{{ acc['bank'] }} - {{  acc['name'] }}</option>
        {%endfor%}
    </select>

    <input type="text" id="desc" name="desc" placeholder="Description">
    <input type="number" step="0.01" id="amount" name="amount" placeholder="amount" required="required">
    <input type="submit" id="submit" value="Wyśliiij">
</form>
</div>